@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the slide-up animation */
@keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* Apply the custom timing function to the animation */
  .animate-slide-up {
    animation: slide-up 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }